@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

html {
  scroll-behavior: smooth;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.95);
  }
}